@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.eot);
    src: url(../fonts/Raleway-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Bold.otf) format("opentype"), url(../fonts/Raleway-Bold.svg) format("svg"), url(../fonts/Raleway-Bold.ttf) format("truetype"), url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Medium.eot);
    src: url(../fonts/Raleway-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Medium.otf) format("opentype"), url(../fonts/Raleway-Medium.svg) format("svg"), url(../fonts/Raleway-Medium.ttf) format("truetype"), url(../fonts/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}
